<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <%= button_to 'Connect to Github', "/auth/github", class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
    <li> Status: <%= current_user.status %></li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <% if current_user.github_token %>
    <section id ="github-repos">
      <h1>Github Repos</h1>
        <ul>
          <% user_github_search.repos.each do |repo|%>
            <section class = "repo">
              <li><%= link_to repo.name, repo.url %></li>
            </section>
          <% end %>
        </ul>
    </section>
    <section id ="github-followers">
      <h1>Github Followers</h1>
        <% if user_github_search.followers.empty? %>
          <p> You have no followers </p>
          <% end %>
        <ul>
          <% user_github_search.followers.each do |follower|%>
            <section class = "follower" id = "follower-<%=follower.handle%>">
              <li><%= link_to follower.handle, follower.url %>
              <% if follower.app_user? %>
                <%= button_to "Add as Friend", "/friends", method: :post, params: {friender_id: current_user.id, friendee_uid: follower.uid}, class: "btn btn-primary mb1 bg-teal" %>
              <% end %></li>
            </section>
          <% end %>
        </ul>
    </section>
      <section id ="github-following">
      <h1>Following on Github</h1>
      <% if user_github_search.following.empty? %>
        <p> You are not following anyone. </p>
        <%end%>
        <ul>
          <% user_github_search.following.each do |follow|%>
            <section class = "following" id = "following-<%=follow.handle%>">
              <li><%= link_to follow.handle, follow.url %>
                <% if follow.app_user? %>
                  <%= button_to "Add as Friend", "/friends", method: :post, params: {friender_id: current_user.id, friendee_uid: follow.uid}, class: "btn btn-primary mb1 bg-teal" %>
                <% end %></li>
            </section>
          <% end %>
        </ul>
    </section>
    <section class = "friends">
    <h1>Friends</h1>
    <% if current_user.friendees.empty? %>
      <p> You haven't added any friends yet! </p>
    <% end %>
    <ul>
      <% current_user.friendees.each do |friend| %>
        <li><%= user_github_search.find_handle(friend) %></li>
      <% end %>
    </ul>
    </section>
  <% end %>
</section>
